<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<targets>
 <target name="logfile" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message}"
        fileName="${basedir}../../Logs/MyExe-${shortdate}.log" />

  <target xsi:type="Trace" name="String" layout="Layout" />
  </targets>
  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>